                                                        @import 'variables.scss';
                                                        @import 'mixins.scss';
                                                        a {
                                                            color: $link-color;
                                                            outline: $no-outline;
                                                            text-decoration: $none;
                                                            @include transition (all .3s ease-in-out);
                                                            display: inline;
                                                        }
                                                        
                                                        a:hover {
                                                            color: $hover-color;
                                                            @include transition (all .3s ease-in-out);
                                                            text-decoration: none;
                                                        }
                                                        
                                                        a:visited,
                                                        a:acitve {
                                                            text-decoration: $none;
                                                        }
                                                        
                                                        a:active {
                                                            color: $link-color;
                                                        }
                                                        
                                                        a:focus {
                                                            text-decoration: $none;
                                                            outline: $no-outline;
                                                        }
                                                        
                                                        a img,
                                                        img {
                                                            border: $no-border;
                                                            
                                                        }
                                                        
                                                        p {
                                                            padding: 10px 0;
                                                        }
                                                        
                                                        object {
                                                            outline: $no-outline;
                                                            border: $no-border;
                                                            float: left;
                                                        }
                                                        
                                                        button:focus {
                                                            outline: $no-outline;
                                                        }
                                                        
                                                        * {
                                                            outline: $no-outline;
                                                            margin: $no-margin;
                                                            padding: $no-padding;
                                                        }
                                                        
                                                        h1,
                                                        h2,
                                                        h3,
                                                        h4,
                                                        h5,
                                                        h6 {
                                                            font-weight: normal;
                                                            font-style: normal;
                                                            font-size: inherit;
                                                        }
                                                        
                                                        body {
                                                            margin: $no-margin;
                                                            padding: $no-padding;
                                                            font-family: $primary-font;
                                                            font-size: $body-text;
                                                            line-height: 32px;
                                                            font-weight: $regular;
                                                            color: $body-color;
                                                            background: $body-bg;
                                                            position: relative;
                                                            z-index: -1;

                                                        }
                                                        
                                                        // pagination
                                                        .pagination {
                                                            margin: 0px;
                                                            display: inline-block;
                                                            width: 100%;
                                                            padding: 20px 0 10px 0;
                                                            text-align: left;
                                                            border-top:1px solid #ddd;
                                                            a {
                                                                background: $white-bg;
                                                                text-decoration: none;
                                                                color: $gray-75;
                                                                padding: 0 13px;
                                                                margin: 0 2px;
                                                                font-size: 15px;
                                                                display: inline-block;
                                                                font-weight:$regular;
                                                                text-transform: uppercase;
                                                                @include border-radius(5px);
                                                                border:1px solid #ddd;
                                                            }
                                                            a:hover {
                                                                color: $white-bg;
                                                                background: $red-bg;
                                                                border:1px solid $red-bg;
                                                            }
                                                            & .current {
                                                                background: $red-bg;
                                                                text-decoration: none;
                                                                color: $white-bg;
                                                                padding: 0 13px;
                                                                margin: 0 2px;
                                                                font-size: 15px;
                                                                display: inline-block;
                                                                font-weight:$regular;
                                                                text-transform: uppercase;
                                                                @include border-radius(5px);
                                                                border:1px solid $red-bg;
                                                            }
                                                        }
                                                        
                                                        .section {
                                                            display: inline-block;
                                                            width: $full-width;
                                                        }
                                                        
                                                        #content {
                                                            display: inline-block;
                                                            width: $full-width;
                                                            margin: 0 auto;
                                                        }

                                                        // theme settings

                                                         /*popup*/

        .modalbox {
            position: fixed;
            width: 100%;
            height: 100%;
            z-index: 9999;
            text-align: center;
            overflow: auto;
            background:#fff;
        }

        .modalbox .modal_content {
            width: 100%;
            text-align: center;
            display: table;
            height: 100vh;
        }

        .modalbox .modal_content .imagebox {
            max-width: 94%;
            margin: 0 auto;
            display: table-cell;
            padding: 3%;
            position: relative;
            vertical-align: middle;
        }

        .modalbox .modal_content .imagebox img {
            max-width: 100%;
            height: auto;
        }

        .modalbox .modal_content .imagebox .logobox img {
            max-width:250px;
        }

        .modalbox .modal_content a.close_btn {
            background:$blue-bg;
            display: inline-block;
            color: #fff;
            font-size: 14px;
            padding: 10px 15px;
            line-height:18px;
            font-family: arial, sans-serif;
            @include border-radius(3px);


        }

         .modalbox .modal_content a.close_btn:hover {
             background:#dc1414;
         }

        .logobox {
            text-align: center;
            display: block;
            margin-bottom: 30px;
        }

       
        .close-box .arrows {
                position:relative;
                top:2px;
                margin-left:5px;
            }
        /*responsive part*/

        @media (min-width: 992px) and (max-width: 1199px) {
            .modalbox .modal_content .imagebox img {
                max-width: 100%;
            }
            .logobox img {
                max-width:220px;
            }
        }

        @media(min-width:768px) and (max-width:991px) {
            .modalbox .modal_content .imagebox img {
                max-width: 100%;
            }
            .logobox img {
                max-width:180px;
            }
        }

        @media(max-width:767px) {
            .modalbox .modal_content .imagebox img {
                max-width: 100%;
            }
            .logobox img {
                max-width:180px;
            }
        }

        @media(max-width:480px) {
            .modalbox .modal_content .imagebox img {
                max-width: 100%;
            }
            .logobox img {
                max-width:180px;
            }
        }

        @media (max-width: 240px) {
            .modalbox .modal_content .imagebox img {
                max-width: 100%;
            }
            .logobox img {
                max-width:180px;
            }
        }


        .top-nav-box, .tags.cat-tags {
            background:#e74c3c;
        }



/* theme change*/

.trending-news {
    background:#eee;
}

ul.trending-news li a {
    color:#333;
}

.top-nav-box {
    background:#eee !important;
}

.main-menu, .fixed-tops, .fixed-tops .navigation-box, .fixed-tops .navigation_box {
    background:$white-bg;
}

.fixed-tops .navigation_box {
    margin: 0 auto;
    max-width:1140px;
}

.cat-tags {

    border-color:#2F77BC;
}

.break-tags {
    background:$blue-bg;
}

/* top nav settings*/

.navigation_box ul li a {
    color:$dark-gray!important;
}

.navigation_box ul li.live-btn a {
    background: #d13938;
    color: #fff !important;
    border-radius: 50px;
    line-height: 24px;
    padding: 5px 20px;
    &:hover {
        background:$dark-gray !important;
        color: #fff !important;
    }
    & .left-icon {
        display:none;
    }
}

.navigation_box ul li.selected a, .navigation_box ul li a:hover, .navigation_box ul li.open a:hover, 
.navigation_box ul li.open a {
    background:$white-bg !important;
    color:$red-bg !important;
}

.navigation_box ul li.open .dropdown-menu a {
    background:$white-bg !important;
    color:$dark-gray !important;
}

.navigation_box ul li.open .dropdown-menu li {
    border-color:#ccc;
}

.navigation_box ul li.open .dropdown-menu a:hover {
    background:$red-bg !important;
    color:$white-bg !important;
}

.navigation_box ul li ul {
  background:$white-bg !important;
}

.navigation_box ul li ul li {
  border-color:#aaa !important;
}



.navigation_box ul li.open a {
    color:$red-bg !important;
}
.navigation_box ul li ul li a,
.navigation_box ul li.open ul li a {
    color:#fff !important;
}
.navigation_box ul li.open ul li a:hover {
  color:#fff !important;
}

.top-nav-box .navigation_box ul li a,
.top-nav-box .navigation_box ul li.open a {
    color:#555 !important;

}


.top-nav-box .navigation_box ul li.open ul li a:hover {
    background:#333 !important;
    color:#fff !important;
}

.top-nav-box .calendar-box .current-date {
    color:$dark-gray;
    font-size:14px;
    & .left-icon {
        font-size:15px;
    }
    & .main-title {
        font-size:15px;
    }
}

.top-nav-box .calendar-box .current-date a {
    color:$white-bg;
}

.section {
    float:left;
    width: $full-width;
}

.navigation_box ul li ul li a, .navigation_box ul li.open ul li a {
    color:$dark-gray !important;
    font-size:12px;
}
.navigation_box ul li ul {
@include box-shadow (0 10px 10px rgba(0, 0, 0, 0.3));
}


